.container {
  width: 80%;
  margin: 10px auto;
}

h1 {
  text-align: center;
}

.frame {
  margin: 20px 0;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.frame h2 {
  margin: 20px 0 5px 0;
}

.frame p.date {
  margin: 5px 0;
  color: #888;
}
